

<head>
    <title>404</title>
    <link rel="stylesheet" href="~/css/404.css" />
</head>
<h1>Sorry, the page your were looking cannot be found!</h1>
<body>
    <div class="box">
        <h2>4<span class="zero"></span>4</h2>
    </div>
</body>