@model IEnumerable<GeorgianGroceries.Models.Category>
<h1>Welcome to Georgian's Online Grocery Store</h1>

<a asp-controller="Store" asp-action="AddCategory"> Add A New Category </a>

<ul>
    @foreach (var c in Model)
    {
        <li>
            <a asp-controller="Store" asp-action="Browse" asp-route-category="@c.Name">@c.Name</a>
        </li>
    }
</ul>
