@{
    ViewData["Title"] = "Home Page";
}
    
    <div class="text-center">
        <h1 class="display-4">Welcome To Georgian Groceries</h1>
        <p>You are always one click away from your food</p>
        <section>
            <div class="set">
                <div><img src="~/lib/Leaves/5.png"></div>
                <div><img src="~/lib/Leaves/6.png"></div>
                <div><img src="~/lib/Leaves/7.png"></div>
                <div><img src="~/lib/Leaves/8.png"></div>
                <div><img src="~/lib/Leaves/5.png"></div>
                <div><img src="~/lib/Leaves/8.png"></div>
                <div><img src="~/lib/Leaves/6.png"></div>
                <div><img src="~/lib/Leaves/8.png"></div>
            </div>
            <div class="set set2">
                <div><img src="~/lib/Leaves/7.png"></div>
                <div><img src="~/lib/Leaves/5.png"></div>
                <div><img src="~/lib/Leaves/6.png"></div>
                <div><img src="~/lib/Leaves/7.png"></div>
                <div><img src="~/lib/Leaves/8.png"></div>
                <div><img src="~/lib/Leaves/5.png"></div>
                <div><img src="~/lib/Leaves/6.png"></div>
                <div><img src="~/lib/Leaves/8.png"></div>
            </div>
            <div class="set set3">
                <div><img src="~/lib/Leaves/5.png"></div>
                <div><img src="~/lib/Leaves/6.png"></div>
                <div><img src="~/lib/Leaves/7.png"></div>
                <div><img src="~/lib/Leaves/8.png"></div>
                <div><img src="~/lib/Leaves/6.png"></div>
                <div><img src="~/lib/Leaves/5.png"></div>
                <div><img src="~/lib/Leaves/7.png"></div>
                <div><img src="~/lib/Leaves/8.png"></div>
            </div>
        </section>
    </div>


